@import "./components/reset", "./components/header", "./components/hero",
    "./components/about", "./components/footer";

html {
    scroll-behavior: smooth;

    body {
        background-color: black;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        .page {
            position: relative;
            width: 1440px;
            margin: auto;
        }
    }
}
